
@import "fonts.css";
@import "proces_form.css";

body {
    background-color: #eeeeee;
    font-family: 'latosemibold';

}

hr{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.btn {
    padding: 6px 30px !important;
}

.btn-success{
    background-color: #99CE7F !important;
    border-color: #87b770 !important;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    background-color: #1e3152;
}

.text-muted {
    margin: 20px 0;
    color: #57719f !important;
    text-align: center;
}

.text-muted-img{
    margin: 20px 0;
}


/*
------------------------------------------------------ */


.SearchIcon
{
    color:#fff;

}
.SearchButton
{
    background-color:#b3cc85;
    border-radius:4px;
}
.SearchButton:hover{
    background-color:#b3cc85;
}

.SearchBar{

}


/*
-------------------------------------------------------*/

.fa-btn {
    margin-right: 6px;

}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #99CE7F;
    border-color: #87b770;
}

.pagination > li > a, .pagination > li > span {
    font-family: 'latoblack';
    color: #b6b6b7;

}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #b6b6b7;
    background-color: #e3e3e3;
}

.custom-menu{
   text-align: center;
}

.custom-menu a{
    font-family: 'latosemibold';
    color: #f0e66b !important;
}

.custom-menu a:hover{
    text-decoration: none;
}

.custom-position-search{
    margin-top: 17px;
}

.custom-navbar-toggle{
    margin-top: 25px !important;
}

.navbar-default {
    background-color: #425a84;
    border-color: #e7e7e7;
}

.navbar-brand {
    padding: 0px;
    height: 70px;
}

.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto;
}

.navbar-nav > li > a {
    line-height: 35px !important;
}

.contact_section{
    background-color: #47618f;
}

.btn{
    font-family: 'latobold' !important;
}

.title_contact{
    font-family: 'latoblack';
    text-align: center;
    color: #ffffff;
}

.img-wrapp-logo{
    background-color: #ffffff;
    margin-top: 20px;
    border: 1px solid #e3e3e3;
}

.arrow-price{
    font-family: 'latobold';
    font-size: 15px;
    background: url('../images/arrow_price.png') center top;
    width: 108px;
    max-width: 100%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 35px;
    display: block;
    color: #ce6f23;
}


.buy-now{
    font-family: 'latoblack';
    background: url('../images/buy_now.png') center top;
    width: 108px;
    max-width: 100%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 35px;
    display: block;
}

.buy-now a{
    color: #ffffff;
}

.buy-now a:hover{
    text-decoration: none;
}


.btn-pay-cancel{
    font-family: 'latobold_italic';
    background: url('../images/cancel_buy.png') center top;
    width: 229px;
    max-width: 100%;
    height: 46px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.btn-pay-cancel a{
    color: #ffffff;
    font-size: 25px;
    line-height: 45px;
}

.btn-pay-cancel a:hover{
    text-decoration: none;
}


.btn-pay{
    background: url('../images/btn_pay.png') center top;
    width: 229px;
    max-width: 100%;
    height: 46px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.btn-pay a{

}

.btn-pay a:hover{
    text-decoration: none;
}


.buy-now-disable{
    background: url('../images/buy_now_disable.png') center top;
    width: 108px;
    max-width: 100%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 35px;
    display: block;
}

.buy-now-disable a{
    color: #ffffff;
}

.buy-now-disable a:hover{
    text-decoration: none;
}

/*
-------------------------------------------------------------------------------*/

.wrapp-detail-logo{
    background-color: #ffffff;
}

.ajust-space{
    padding: 15px;
}

.ajust-space-summary-page{
    padding: 20px;
}

.detail-date{
    font-family: 'latolight_italic';
    color: #3b3733;
 }

.detail-categories{
    font-family: 'latoregular';
    color: #3b3733;
}

.detail-title-category{
    font-family: 'latobold';
    color: #425a84;
}

.custom-label{
    font-family: 'latoregular';
    font-weight: normal !important;
    color: #ffffff;
    background-color: #6686b3;
}

.detail-description{
    font-family: 'latoregular';
    color: #3b3733;
    text-align: justify;
}


/*
-----------------------------------------------------------------*/

.custom-form-group{
    margin-bottom: 0px !important;
}

.custom-form-group-textarea{
    margin-bottom: 0px !important;
    margin-top: 15px;
}

.text-info-detail{
    text-align: center;
    margin-bottom: 15px;
}

.info-message{
    color: #425a84;
}